<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring.example.mapper.CartItemMapper">
    <resultMap id="RoomResultMap" type="org.spring.example.room.dto.Room">
        <id property="roomId" column="room_id"/>
        <result property="accId" column="acc_id"/>
        <result property="typeCodeId" column="type_code_id"/>
        <result property="typeCodeCode" column="type_code_code"/>
        <result property="typeCodeName" column="type_code_name"/>
        <result property="statusCodeId" column="status_code_id"/>
        <result property="statusCodeCode" column="status_code_code"/>
        <result property="statusCodeName" column="status_code_name"/>
        <result property="mainImageId" column="main_image_id"/>
        <result property="name" column="name"/>
        <result property="info" column="info"/>
        <result property="addInfo" column="add_info"/>
        <result property="size" column="size"/>
        <result property="roomCnt" column="room_cnt"/>
        <result property="floor" column="floor"/>
        <result property="capacity" column="capacity"/>
        <result property="maxCapacity" column="max_capacity"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <resultMap id="CartItemResultMap" type="org.spring.example.cartItem.dto.CartItemDto">
        <id property="cartItemId" column="cart_item_id"/>
        <result property="cartId" column="cart_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <association property="room" resultMap="RoomResultMap"/>
    </resultMap>

    <insert id="createCartItem" parameterType="CartItemDto" useGeneratedKeys="true" keyProperty="cartItemId">
        INSERT INTO cart_item(cart_id, room_id)
        VALUES(#{cartId}, #{room.roomId})
    </insert>

    <select id="getCartItemsByCartId" parameterType="long" resultMap="CartItemResultMap">
        SELECT
            ci.cart_item_id,
            ci.cart_id,
            ci.created_at,
            ci.updated_at,

            r.room_id,
            r.acc_id,
            r.type_code_id,
            r.type_code_code,
            tc.code_name AS type_code_name,
            r.status_code_id,
            r.status_code_code,
            sc.code_name AS status_code_name,
            r.main_image_id,
            r.name,
            r.info,
            r.add_info,
            r.size,
            r.room_cnt,
            r.floor,
            r.capacity,
            r.max_capacity,
            r.created_at AS room_created_at,
            r.updated_at AS room_updated_at

        FROM cart_item ci
                 JOIN room r ON ci.room_id = r.room_id

                 LEFT JOIN code tc ON r.type_code_id = tc.code_type_id
            AND r.type_code_code = tc.code

                 LEFT JOIN code sc ON r.status_code_id = sc.code_type_id
            AND r.status_code_code = sc.code

        WHERE ci.cart_id = #{cartId}
    </select>

    <delete id="deleteCartByCartItemId" parameterType="long">
        DELETE
        FROM cart_item
        WHERE cart_item_id = #{cartItemId}
    </delete>
</mapper>