<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring.example.mapper.CodeMapper">
    <resultMap id="Code" type="org.spring.example.code.CodeDto">
        <id property="codeTypeId" column="code_type_id"/>
        <result property="code" column="code"/>
        <result property="codeTypeName" column="code_type_name"/>
        <result property="codeName" column="code_name"/>
    </resultMap>

    <select id="findCodeByCodeTypeId" parameterType="String" resultMap="Code">
        SELECT *
        FROM code
        WHERE code_type_id = #{codeTypeId}
    </select>


</mapper>