<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring.example.board.mapper.PostMapper">


<!--    글 추가-->
    <insert id="insert" parameterType="PostDto">
        INSERT INTO post (
            board_id, user_id, title, content,
            is_pinned, is_answered, faq_keyword,
            is_deleted, deleted_at, deleted_by
        ) VALUES (
            #{boardId}, #{userId}, #{title}, #{content},
            #{isPinned}, #{isAnswered}, #{faqKeyword},
            #{isDeleted}, #{deletedAt}, #{deletedBy}
        )
    </insert>



<!-- 전체 게시글 조회 -->
    <select id="selectAllPost" resultType="PostDto">
        SELECT * FROM post WHERE is_deleted = FALSE ORDER BY is_pinned DESC, created_at DESC
    </select>

<!-- 고정 공지글 조회 -->
    <select id="selectByBoardIdAndPinned" parameterType="map" resultType="org.spring.example.board.dto.PostDto">
        SELECT
            post_id,
            board_id,
            user_id,
            title,
            content,
            is_pinned,
            is_answered,
            faq_keyword,
            is_deleted,
            deleted_at,
            deleted_by,
            created_at
        FROM post
        WHERE board_id = #{boardId}
          AND is_pinned = #{isPinned}
          AND is_deleted = 0
        ORDER BY created_at DESC
    </select>


<!--    게시물id로 조회-->
    <select id="selectById" parameterType="long" resultType="PostDto">
        SELECT * FROM post WHERE post_id = #{postId} AND is_deleted = FALSE
    </select>


<!--    게시판id(타입)으로 조회-->
    <select id="selectByBoardId" parameterType="int" resultType="PostDto">
        SELECT * FROM post
        WHERE board_id = #{boardId} AND is_deleted = FALSE
        ORDER BY is_pinned DESC, created_at DESC
    </select>


<!-- 글 수정 -->
    <update id="update" parameterType="PostDto">
        UPDATE post
        SET title = #{title},
            content = #{content},
            updated_at = NOW(),
            is_pinned = #{isPinned},
            is_answered = #{isAnswered},
            faq_keyword = #{faqKeyword}
        WHERE post_id = #{postId}
    </update>


<!--    soft 삭제-->
    <update id="softDelete" parameterType="PostDto">
        UPDATE post
        SET is_deleted = TRUE,
            deleted_at = NOW(),
            deleted_by = #{deletedBy}
        WHERE post_id = #{postId}
    </update>

</mapper>
