<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring.example.user.dao.UserDao">

    <insert id="signup" parameterType="org.spring.example.user.domain.User">
        INSERT INTO `user`
            (password, name, gender, email, birth_date, phone, nickname)
        VALUES
            (#{password}, #{name}, #{gender}, #{email}, #{birth}, #{phone}, #{nickname});
    </insert>

</mapper>